body{
    background: lightslategray;
}
p{
    color: whitesmoke;
    width: 300px;
    background: #0F4069;
    padding: 20px;
    margin: auto;
    border: 2px solid #e6eaef;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}